<div class='detalle'>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre pro:</strong>
  <%= @detalle.nombre_pro %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @detalle.cantidad %>
</p>

<p>
  <strong>Precio u:</strong>
  <%= @detalle.precio_u %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @detalle.iva %>
</p>

<p>
  <strong>Total pre:</strong>
  <%= @detalle.total_pre %>
</p>

<p>
  <strong>Total iva:</strong>
  <%= @detalle.total_iva %>
</p>


<%= link_to 'Edit', edit_detalle_path(@detalle) %> |
<%= link_to 'Back', detalles_path %>
</div>