<p id="notice"><%= notice %></p>

<center><h1>Lista de Regiones municipales</h1></center>

<%= form_tag municipios_path, :method => 'get', class: 'form-inline' do %>
<% content_tag :label do %>

<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Buscar cliente" %>

<%= button_tag(type: 'submit', class: "btn btn-success", :name => nil) do %>
  <span class="glyphicon glyphicon-search"></span> 
<% end %>

<% end %>
<% end %>


<br>

<%= link_to new_municipio_path, class: "btn btn-primary", remote: true  do %>
<span class="glyphicon glyphicon-plus"></span> Nuevo
<% end %> |

<%= link_to municipios_path(format: "xls"), class: "btn btn-warning" do %>
<span class="glyphicon glyphicon-cloud-download"></span> EXCEL
<% end %>

<br><br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @municipios %>
  </tbody>
</table>

<br>
<%= will_paginate @municipios, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
<br>

<br><br>
 
<div class="col-md-4">
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @municipios.count %></span>
    Municipios:
  </li>
</ul>
</div>

