<p id="notice"><%= notice %></p>

<h1>Lista Productos</h1>


<%= form_tag productos_path, :method => 'get', class: 'form-inline' do %>
<% content_tag :label do %>

<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Buscar Municipio" %>

<%= button_tag(type: 'submit', class: "btn btn-success", :name => nil) do %>
  <span class="glyphicon glyphicon-search"></span> 
<% end %>

<% end %>
<% end %>


<br>

<%= link_to new_producto_path, class: "btn btn-primary" do %>
<span class="glyphicon glyphicon-plus"></span> Nuevo
<% end %> |

<%= link_to productos_path(format: "xls"), class: "btn btn-warning" do  %>
  <span class="glyphicon glyphicon-cloud-download"></span> EXCEL
<% end %>

<br><br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio uni</th>
      <th>Stock</th>
      <th>Category</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.nombre %></td>
        <td><%= producto.precio_uni %></td>
        <td><%= producto.stock %></td>
        <td><%= producto.category.nombre %></td>

        <td><%= link_to producto, class: "btn btn-info btn-sm" do %>
          <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
        </td>
      
        <td>
          <%= link_to edit_producto_path(producto), class: "btn btn-warning btn-sm" do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
        </td>
        
        <td>
          <%= link_to producto, method: :delete, data: { confirm: 'Estas seguro?' }, class: "btn btn-danger btn-sm" do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
        <td><%= link_to download_path(producto.id),class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-cloud-download"></span>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= will_paginate @productos, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
<br>

<br><br>
 
<div class="col-md-4">
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @productos.count %></span>
    Clientes:
  </li>
</ul>
</div>