<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Precio uni:</strong>
  <%= @producto.precio_uni %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @producto.stock %>
</p>

<p>
  <strong>Category:</strong>
  <%= @producto.category.nombre %>
</p>

<p>
  <strong>Arch:</strong>
  <%= @producto.arch_file_name %>
</p>


<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
